# Neo4j data
Neo4j/data/
Neo4j/logs/
Neo4j/transactions/
Neo4j/dbms/
Neo4j/plugins/

# Docker volumes
*/__pycache__/
*.pyc

# Flutter
GUI/build/
GUI/.dart_tool/
GUI/.flutter-plugins

# IDE
.vscode/
.idea/

# Python venv
venv/
.env
FastAPI/.env
